#resume-form {
  display: none;
}
#edit-resume-form {
  display: none;
}

.file-select {
  background-color: #317ac7;
  color: white;
  border-radius: 2rem;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  width: 130px;
  align-items: center;
  justify-content: space-around;
}

.link {
  cursor: pointer;
}
.form-edit-certificate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.edit-certificate-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
}
/* #edit-certification,
#edit-certificationBy,
#edit-validFrom,
#edit-validTo,
#edit-skills {
  margin-bottom: 1rem;
} */
#edit-validFrom,
#edit-validTo {
  height: 2rem;
  font-size: 1rem;
  border: 2px solid #0070ad;
  border-radius: 8px;
  margin-bottom: 2rem;
}
.valid-from {
  display: inline;
  color: #0070ad;
}
.valid-to {
  display: inline;
  color: #0070ad;
}
