.nav-bar{
    background-color: var(--bg);
}

.home-image{
    width: 200px;
    height: 40px;
}

.logout-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.logout-button{
    height: 35px;
    background: var(--primary);
    border-radius: 8px;
    border: none;
    width: 80px;
    cursor: pointer;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: var(--white);
}

.hearder-margin{
    margin-left: 20px !important;
    margin-right: 20px !important;
    max-width: 100vw !important;
}