#notice-container{

}

#scroll-container{
    animation-name: scroll;
    animation-duration: 4ms;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    -webkit-animation-name: scroll;
    -webkit-animation-duration: 4ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    -webkit-animation-timing-function: linear;
}

#scroll-container:hover{
    animation-play-state:paused;
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes move {
    0% {
        margin-left: -400px;
    }

    100% {
        margin-left: 800px;
    }
}

.carousel-notes-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.carousel-container {
    width: 45vw;
    margin-right:10px ;
}

.notes-container {
    height: 350px;
    overflow: hidden;
    width: 45vw;
    margin-left: 10px;
}

.ul-notes {
    list-style: none;
    padding: 0px;

}

.li-notes {
    margin: 0px;
    padding-bottom: 15px;
}