
:root{
    --primary: #ec4608;
    --secondary: #222;
    --bg: #D9D9D9;
    --black: #000;
    --white: #fff;
    --textlight: #ccc;
    --medium: #6e6969;
    --light: #f8f4f4;
    --danger: #ff5252;
    --dark: #2f2f2f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
